{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block nav %}
<li><a href={%url "manage" %}>Manage</a></li>
{% endblock %}
{% block content %}
<center>
{% if version %}
	<link href="{% static "lightbox/css/lightbox.css"%}" rel="stylesheet" />
		<font size="4"><b><a href={{version}}>Download the Printer-Installer Client</a></b></font></br>
		<font size="2"><i>Copy this into your applications folder,<b> and open it once!</i></font></b></br></br></br>
{% endif %}
		<font size="4"><b>Then simply click on one of the lists below</b></font></br>
		<font size="2"><i>and it will automatically populate the Printer-Installer menu</i></font>
	</br>
{% if printerlists %}
<table class="client_info table table-striped table-condensed table-bordered">
    {% for list in printerlists %}
    <tr><td><center>
    <font size="3"><a href="{{ domain }}/{{ list.name }}">{{ list.name }}</a></font>
    </center></td><tr>
    {% endfor %}
</table>

</br>
</br>
{% else %}
    <p>No printer lists are available.</br>
{% endif %}

{% if version %}
<font size="4"><b>The client install process is super simple</b></font></br>
</br>
<div class="table-responsive hideOverflow">
<table>
<td>
	<a href="{% static "images/copy.png" %}" data-lightbox="settings" data-title="Copy to Applications folder"><img src="{% static "images/copy-thumb.png" %}" alt="copy"/></a>
</td>

<td>
	<a href="{% static "images/config.png" %}" data-lightbox="settings" data-title='Choosing the "Configure" menu will give you some additional options'><img src="{% static "images/config-thumb.png" %}" alt="Configure"/></a>
</td>

<td>
	<a href="{% static "images/default.png" %}" data-lightbox="settings" data-title="After Clicking on a on of the links you will see avaliable printers"><img src="{% static "images/default-thumb.png" %}" alt="default"/>
</td>
<tr>
<td><center>Copy</center></td>
<td><center>Configure</center></td>
<td><center>Select</center></tr>
<tr>
</tr>
</table>
</div>

<script src="{% static "lightbox/js/jquery-1.11.0.min.js"%}"></script>
<script src="{% static "lightbox/js/lightbox.min.js"%}"></script>

{% endif %}
<h4></h4>

{% endblock %}
</center>

