{% extends "base.html" %}
{% load i18n %}

{% block nav %}
{% include "printers/nav.html" %}
{% endblock %}

{% block content %}
<h4>Printer Lists</h4>
{% if printerlists %}
    {% for list in printerlists %}	
		<li><a href={% url "printerlist_details" list.id %}>{{ list.name }}</a></li>
    {% endfor %}
{% else %}
    <p>No printer lists are available.</br>
		<li><a href={% url "add_printerlist" %}>Add List</a></li>
	</p>
	
{% endif %}
<h4>Printers</h4>
{% if printers %}
    {% for printer in printers %}
		{% if printer.description %}
			<li><a href={% url "printer_details" printer.id %}>{{ printer.description }}</a></li>
		{% else %}
			<li><a href={% url "printer_details" printer.id %}>{{ printer.name }}</a></li>
		{% endif %}
    {% endfor %}
{% else %}
    <p>No printers are available.</p>
{% endif %}
{% endblock %}
