{% extends "base.html" %}

{% block nav %}
{% include "printers/nav.html" %}
{% endblock %}
{% block content %}

	<b>  {{ printer.name }}</b></br>
	<br>
	<b>Description:</b>  {{ printer.description }}</br> 
	<b>Location:</b>  {{ printer.location }}</br> 
	</br> 
	<b>URL:</b>  {{ printer.url }}</br>
	<b>Protocol:</b>  {{ printer.protocol }}</br> 
	</br> 
	<b>Model:</b>  {{ printer.model }}</br> 
	<b>PPD:</b>  {{ printer.PPD }}</br> 
	{% for o in printer.option_set.all %}
	<i><b>option:</b> {{ o.option }}</i></br>
	{% endfor %}

<table id="formset" class="form">
    <thead><tr>
		<td>
			<form action="/printers/edit_printer/{{printer.id}}/" method="GET">{% csrf_token %}
				<button type="submit" class="btn primary">Edit Printer</button>
			</form>
		</td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		
		<td>
			<form action="/printers/del_printer/{{printer.id}}" method="GET">{% csrf_token %}
	    		<button type="submit" class="btn-danger">Delete Printer</button>
			</form>	
		</td>
	
</tr></thead>
	
{% endblock %}
